<div class="page-header">
    <h3 class="page-title">
    Courses
    </h3>
 <button type="button" class="btn btn-outline-primary" routerLink="/course">Show All courses</button>
</div>

<div class="row">
  <div class="col-md-16 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">New Course Information</h4>
        <form class="forms-sample">
                              <div class=" col-md-50 p-0">
                                  <div class="form-group col-lg-6 float-left">
                                      <label>Course Title</label>
                                      <input type="text" value="" name="courseTitle" placeholder="course title" class="form-control" [(ngModel)]="details.courseTitle">
                                  </div>
                              
                                  <div class="form-group col-lg-3 float-left">
                                    <label>Status</label>
                                    <select class="form-control" name="status"[(ngModel)]="details.status">
                                      <option value="undefined">Select</option>
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                  </div>
                             
                                  <div class="form-group col-lg-36 float-left">
                                    <label>Course Short Description
                                    </label>
                                       <textarea name="textarea" cols="200" rows="5" class="form-control" name="courseDesc" placeholder="course short description 200 char max." [(ngModel)]="details.courseDesc">></textarea>
                                  </div>

                                  <div class="form-group col-lg-4 float-left">
                                    <span name="coursevideosource">
                                    <h4>course intro video source</h4>
                                    <label for="coursevideo">Youtube</label>
                                    <input id="coursevideo" type="radio"  name="Youtube" [(ngModel)]="details.coursevideo" name="coursevideo"><br>

                                    <label for="Wista">Wista</label>
                                    <input id="coursevideo" type="radio" name="Wista" [(ngModel)]="details.coursevideo">
                                  </span> 
                               </div>
                               <hr>
                               <div class="form-group col-lg-3 float-left">
                                <label>Course intro video Id</label>
                                <input type="text" value="" name="courseintrovideoId" placeholder="Course intro video Id" class="form-control" [(ngModel)]="details.courseintrovideoId"/>
                            </div>

                            <div class="form-group col-lg-5  float-left">
                              <select class="form-select" aria-label="Default select example" ngModel name="selectmenu" [(ngModel)]="details.selectmenu">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                            </div>
                                            
                                  <div class="form-group col-lg-6 float-left">
                                    <label>Course SEO Title</label>
                                    <input type="text" name="courseseotitle" placeholder="Course SEO Title" class="form-control" [(ngModel)]="details.courseseotitle"/>
                                  </div>

                                  <div class="form-group col-lg-6 float-left">
                                    <label>Course SEO Keywords</label>
                                    <input type="text" name="courseseokeyword" placeholder="Course SEO Keywords" class="form-control"  [(ngModel)]="details.courseseokeyword"/>
                                  </div>
                                  <div class="form-group col-lg-16 float-left">
                                    <label>Course SEO Description</label>
                                    <input type="text" size='130' name="courseseodiscription" placeholder="Course SEO Description" class="form-control" [(ngModel)]="details.courseseodiscription"/>
                                  </div>
                              </div>                               
                              <div>
                                <h3>
                                cancel
                                </h3>
                             <button type="submit" class="btn btn-outline-primary" (click)="details">Save course Information</button>
                            </div>        
                             </form>
  </div>
</div>
</div>
