
<div class="page-header">
    <span>
    <h3 class="page-title">Mentors</h3><br>
    <h6>Total 9 mentors(s)</h6>
</span>
    <button
      type="button"
      class="btn btn-outline-primary"
      routerLink="/addmentor"
    >
      Add new Mentors
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">Title</th>
        <th scope="col">picture</th>
        <th scope="col">intro</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userlist">
        <th scope="row">{{item.name}}</th>
        <td>{{item.title}}</td>
        <td>{{item.picture}}</td>
        <td>{{item.intro}}</td>
      </tr>
    </tbody>
  </table>