<div class="page-header">
  <span>
    <h3 class="page-title">Courses</h3>
    <br />
    <h6>Total 22 Courses(s)</h6>
  </span>
  <button type="button" class="btn btn-primary" routerLink="/addcourse">
    Add new course
  </button>
</div>
<div class="filter-side col-15 px-0">
  <table [cellPadding]="10">
    <thead class="table-secondary">
      <th>title</th>
      <th>LINK SLUG</th>
      <th>STATUS</th>
      <th>ACTIONS</th>
    </thead>
    <tbody>
      <tr class="table-light" *ngFor="let data of courseData">
        <td><a href="#">{{data.coursetitle}}</a></td>
        <td><a href="#">{{data.Content}}</a></td>
        <td style="color: green">{{data.isActive}}</td>
        <td>
          <a routerLink="/addcourse/{{data._id}}">Edit</a> |
          <a routerLink="/content/">Content</a> | <a href="#">Videos</a> |
          <a routerLink="">Fee</a> | <a href="#">FAQs</a> |
          <a routerLink="">Upcoming Events</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
