<div class="page-header">
  <h3 class="page-title">Student</h3>
  <br />
  <button
    type="button"
    class="btn btn-outline-primary"
    routerLink="/view-student"
  >
    Show All Student
  </button>
</div>
<div class="row">
  <div class="col-md-16 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">New Student information</h4>
        <form  
          class="forms-sample"
          #empForm="ngForm"
        >
          <div class="col-md-50 p-0">
            <div class="form-group col-lg-6 float-left">
              <label>First Name</label>
              <input
                type="text"
                value=""
                class="form-control"
                name="firstName"
                [(ngModel)]="userdetails.firstName"
                placeholder="Enter firstname"
                class="form-control"
              />
            </div>

            <div class="form-group col-lg-6 float-left">
              <label>last Name</label>

              <input
                type="text"
                value=""
                class="form-control"
                name="lastName"
                [(ngModel)]="userdetails.lastName"
                placeholder="Enter lastname"
                class="form-control"
              />
            </div>

            <div class="form-group col-lg-6 float-left">
              <label>Email Address</label>
              <input
                type="text"
                class="form-control"
                name="email"
                [(ngModel)]="userdetails.email"
                placeholder="Enter firstname"
                class="form-control"               
              />
            </div>
            <div class="form-group col-lg-6 float-left">
              <label>Password</label>

              <input
                type="password"
                value=""
                name="password"
                [(ngModel)]="userdetails.password"
                placeholder="password"
                class="form-control"
              />
             
            </div>
            <div class="form-group col-lg-6 float-left">
              <label>Phone Number</label>
              <input
                type="text"
                value=""
                name="phoneNumber"
                [(ngModel)]="userdetails.phoneNumber"
                placeholder="Phone Number"
                class="form-control"
              
              />
            </div>
            <div class="form-group col-lg-6 float-left">
              <label>Status</label>
              <select class="form-control" name="status" [(ngModel)]="userdetails.status">
                <option value="undefined">Select</option>
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
            </div>
            <div class="form-group col-lg-6 float-left">
              <label>Permission</label>
              <select class="form-control" name="type" [(ngModel)]="userdetails.type">
                <option value="undefined">Select</option>
                <option value="1">Admin</option>
                <option value="2">Manager</option>
                <option value="4">Employee</option>
              </select>
            </div>
            <div class="form-group col-lg-6 float-left">
              <label>starting Date</label>

              <input
                type="date"
                value="12/12/2022"
                name="date"
                [(ngModel)]="userdetails.date"
                placeholder=""
                class="form-control"
              
              />
            </div>
            <div class="form-group col-lg-6 float-left">
              <label>SELECT COURSE</label>
              <select multiplesize="6" [(ngModel)]="userdetails.course" name="course">
                <option value="1">
                  100 Hour Yoga Teacher Training in Rishikesh
                </option>
                <option value="2">
                  200 HORAS DE FORMACIÓN DE PROFESORES DE YOGA EN RISHIKESH
                </option>
                <option value="3">
                  200 Hour Yoga Teacher Training Course Online
                </option>
                <option value="3">
                  200 Hour Yoga Teacher Training Course Online
                </option>
                <option value="3">
                  200 Hour Yoga Teacher Training Course Online
                </option>
              </select>
            </div>

            <div class="form-group col-lg-12 text-center float-left">
              <button
                mat-raised-button
                type="submit"
                class="btn btn-info btn-sm mx-2 filter-toggle"
                style="padding: 0.45rem 0.25rem"
                data-toggle="collapse"
                data-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
                (click)="createStudent(userdetails);"
              >
                Save Student information
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
