
<div class="page-header">
    <span>
    <h3 class="page-title">Students</h3><br>
    <h6>Total 395 student(s)</h6>
</span>
    <button
      type="button"
      class="btn btn-outline-primary"
      routerLink="/addstudent"
    >
      Add New Student
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Fistname</th>
        <th scope="col">lastname</th>
        <th scope="col">Email Address</th>
        <th scope="col">password</th>
        <th scope="col">Phone Number</th>
        <th scope="col">status</th>
        <th scope="col">starting Date</th>
        <th scope="col">SELECT COURSE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of userList">
        <td>{{data.firstName}}</td>
        <td>{{data.lastName}}</td>
        <td>{{data.email}}</td>
        <td>{{data.password}}</td>
        <td>{{data.phoneNumber}}</td>
        <td>{{data.status}}</td>
        <td>{{data.date}}</td>
        <td>{{data.course}}</td>
        <td><button type="button" style="color: rgb(75, 75, 214);" routerLink="/addstudent/{{data._id}}" >Edit</button></td>
        <td><button type="button" style="color: rgb(235, 66, 66);">Delete</button></td>
      </tr>
    </tbody>
  </table>