
<div class="row">
  <div class="col-xxl-12">
    <div class="row d-grid-1">
      <div class="col-md-3">
          <div class="card">
            <div class="float-left col-md-9">
              <span>Total Application</span>
              <h2>8000</h2>
              <a href="">View All Applications</a>
            </div>
            <div class="float-left col-md-3">
              <img class="iconimg" src="assets/images/Base.jpg">
            </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="float-left col-md-9">
            <span>Total Checks</span>
            <h2>25000</h2>
            <a href="">View All Checks</a>
          </div>
          <div class="float-left col-md-3">
            <img class="iconimg" src="assets/images/tick.jpg">
          </div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="float-left col-md-9">
          <span>Total Employees</span>
          <h2>55</h2>
          <a href="">View All Employees</a>
        </div>
        <div class="float-left col-md-3">
          <img class="iconimg" src="assets/images/emp.jpg">
        </div>
      </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="float-left col-md-9">
        <span>Total Client</span>
        <h2>25</h2>
        <a href="">View All Client</a>
      </div>
      <div class="float-left col-md-3">
        <img class="iconimg" src="assets/images/client.jpg">
      </div>
    </div>
</div>

      
    </div>
    
  </div>
</div>

<div class="row mt-3">
  <div class="col-xxl-12">
    <div class="row d-grid-2">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="col-md-4">
                <h4>Completed</h4>
            </div>
            <div class="col-md-8 p-0 p-none">
              <div class="col-md-4">
                <select class="form-control">
                    <option value="Tech M">Client</option>
                    <option value="Tech M">Tech M</option>
                </select>
            </div>
            <div class="col-md-4">
              <input class="form-control" type="date" placeholder="">
            </div>
            <div class="col-md-4">
              <input class="form-control" type="date" placeholder="">
            </div>
            
            </div> <!-- col-md-8 -->

          </div>
          <div class="card-body">
            <table class="table dashboard-tbl">
              <tr>
                <td>
                  <img src="assets/images/logo.jpg">
                </td>
                <td>
                  <h5>Tech Mahindra</h5>
                </td>
                <td>
                  <span class="number">1500</span><br>
                  <span class="title">Total Application</span>
                </td>
                <td>
                  <span class="number">1200</span><br>
                  <span class="title">Out TAT</span>
                </td>
                <td>
                  <span class="number">15</span><br>
                  <span class="title">In TAT</span>
                </td>
                <td>
                  <span class="number">45 %</span><br>
                  <span class="title">TAT</span>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="assets/images/logo.jpg">
                </td>
                <td>
                  <h5>Tech Mahindra</h5>
                </td>
                <td>
                  <span class="number">1500</span><br>
                  <span class="title">Total Application</span>
                </td>
                <td>
                  <span class="number">1200</span><br>
                  <span class="title">Out TAT</span>
                </td>
                <td>
                  <span class="number">15</span><br>
                  <span class="title">In TAT</span>
                </td>
                <td>
                  <span class="number">45 %</span><br>
                  <span class="title">TAT</span>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="assets/images/logo.jpg">
                </td>
                <td>
                  <h5>Tech Mahindra</h5>
                </td>
                <td>
                  <span class="number">1500</span><br>
                  <span class="title">Total Application</span>
                </td>
                <td>
                  <span class="number">1200</span><br>
                  <span class="title">Out TAT</span>
                </td>
                <td>
                  <span class="number">15</span><br>
                  <span class="title">In TAT</span>
                </td>
                <td>
                  <span class="number">45 %</span><br>
                  <span class="title">TAT</span>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="assets/images/logo.jpg">
                </td>
                <td>
                  <h5>Tech Mahindra</h5>
                </td>
                <td>
                  <span class="number">1500</span><br>
                  <span class="title">Total Application</span>
                </td>
                <td>
                  <span class="number">1200</span><br>
                  <span class="title">Out TAT</span>
                </td>
                <td>
                  <span class="number">15</span><br>
                  <span class="title">In TAT</span>
                </td>
                <td>
                  <span class="number">45 %</span><br>
                  <span class="title">TAT</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- col-md-6 -->
      <div class="col-md-6 order-first">
        <div class="card">
          <div class="card-header">
            <div class="col-md-4">
                <h4>Inprogress</h4>
            </div>
            <div class="col-md-8 p-0 p-none">
              <div class="col-md-4">
                <select class="form-control">
                    <option value="Tech M">Client</option>
                    <option value="Tech M">Tech M</option>
                </select>
            </div>
            <div class="col-md-4">
              <input class="form-control" type="date" placeholder="">
            </div>
            <div class="col-md-4">
              <input class="form-control" type="date" placeholder="">
            </div>
            
            </div> <!-- col-md-8 -->

          </div>
          <div class="card-body">
            <table class="table dashboard-tbl">
              <tr>
                <td>
                  <img src="assets/images/logo.jpg">
                </td>
                <td>
                  <h5>Tech Mahindra</h5>
                </td>
                <td>
                  <span class="number">1500</span><br>
                  <span class="title">Total Application</span>
                </td>
                <td>
                  <span class="number">1200</span><br>
                  <span class="title">Total Pending</span>
                </td>
                <td>
                  <span class="number">475 </span><br>
                  <span class="title">Out TAT</span>
                </td>
                <td>
                  <span class="number">15</span><br>
                  <span class="title">Today TAT</span>
                </td>
                <td>
                  <span class="number">600</span><br>
                  <span class="title">In TAT</span>
                </td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
   </div>
</div>
 