<div class="page-header">
    <h3 class="page-title">
    Employee
    </h3>

  </div>

  <div class="row">
    <div class="col-md-8 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add Checks</h4>
          <!-- <p class="card-description">

          </p> -->
          <form class="forms-sample" #chekForm = "ngForm" (ngSubmit)="insertCheck(formData)">

                <div class="col-md-12">
                    <div class="form-group col-md-6 float-left">
                        <input type="text" value="" name="check" [(ngModel)]="formData.checkName" placeholder="Insert Checks" class="form-control" />
                    </div>
                    <div class="form-group col-md-6 float-left">
                            <button mat-raised-button class="btn btn-info btn-sm mx-2 filter-toggle"
                            style="padding:0.45rem 0.25rem" data-toggle="collapse" data-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample">
                            Add Checks
                        </button>
                    </div>
                </div>
                <!-- <span class="align-self-center">0</span> -->

            </form>
    </div>
</div>
</div>

<div class="col-md-4">
  <div class="info-list mt-3">
    <ul class="d-flex flex-column list-unstyled">
        <li class="mb-0 d-flex justify-content-between align-items-center" *ngFor="let check of checkList">
            <a href="javascript:void(0);" class="text-wrap d-block px-3 py-3" (click)="getCheckById(check._id,check.checkName)">
                {{check.checkName}}
            </a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger" (click)="deletetable(check._id)">Disable</a>
        </li>
        </ul>
        </div>
        <!-- <ul>
            <li>Disable - will hide the check but will not delete the table from database</li>
            <li>Note - Do not use any special character in Column Name and Check Name</li>
        </ul> -->
</div>
<!-- col-md-6 -->

<div class="col-md-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Fileds:{{checkName}}</h4>
        <form #formColumn ="ngForm" (ngSubmit)="insertColumn(cData)">

                                <div class="col-md-12 float-left">
                                    <div class="form-group col-md-6 float-left">
                                        <input type="text" value=""name="field" [(ngModel)]="cData.field"  placeholder="Insert Fields" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6 float-left">

                                        <button mat-raised-button class="btn btn-info btn-sm mx-2 filter-toggle"
                                            style="padding:0.45rem 0.25rem">
                                            Add
                                        </button>
                                    </div>
                                </div>

                            </form>

                            <br>
        </div>
</div>
</div>

<div class="col-md-4">
  <div class="info-list mt-3">
    <ul class="d-flex flex-column list-unstyled">
        <li class="mb-0" *ngFor="let column of columnList">
            <label href="javascript:void(0);" class="col-lg-8 float-left fieldname d-block px-3 py-3">
                {{column}}
            </label>
            <span class="col-lg-4 float-left action ">
            <!-- <a href="javascript:void(0);" *ngIf="i != 0" class="col-lg-3 float-left" (click)="alignUp(column)"><i class="material-icons">expand_less</i></a>

            <a href="javascript:void(0);" id="{{i}}" *ngIf="colLen != i" class="col-lg-3 float-left" (click)="alignDown(column)"><i class="material-icons">expand_more</i></a>

            <a href="javascript:void(0);" class="col-lg-3 float-left" (click)="deleteColumn(column)"><i class="material-icons">close</i></a> -->
        </span>
        </li>
    </ul>
</div>
</div>
</div>

